* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: Arial, sans-serif;  
}  

/* NAVBAR */  
header {  
    position: sticky;  
    top: 0;  
    background: #222;  
    padding: 15px;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    color: white;  
}  

header h2 {  
    margin-left: 10px;  
}  

nav a {  
    color: white;  
    margin: 0 10px;  
    text-decoration: none;  
}  

nav a:hover {  
    color: orange;  
}  

/* HERO */  
.hero {  
    height: 100vh;  
    background: #bfbfbf;  
    color: black;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center;  
    flex-direction: column;  
}  

.hero h1 {  
    font-size: 40px;  
}  

.hero button {  
    margin-top: 20px;  
    padding: 12px 25px;  
    border: none;  
    background: orange;  
    cursor: pointer;  
}  

/* TEAM */  
.team {  
    padding: 50px;  
    text-align: center;  
}  

.team h2 {  
    margin-bottom: 30px;  
}  

.team-container {  
    display: flex;  
    justify-content: center;  
    flex-wrap: wrap;  
    gap: 20px;  
}  

.member {  
    background: #f4f4f4;  
    padding: 20px;  
    width: 220px;  
    border-radius: 10px;  
    transition: 0.3s;  
}  

.member:hover {  
    transform: scale(1.05);  
}  

.member img {  
    width: 100%;  
    border-radius: 50%;  
}  

/* CONTACT */  
.contact {  
    background: #eee;  
    padding: 50px;  
    text-align: center;  
}  

form {  
    max-width: 400px;  
    margin: auto;  
}  

input, textarea {  
    width: 100%;  
    padding: 10px;  
    margin: 10px 0;  
    border: 1px solid #ccc;  
}  

button.submit-btn {  
    background: green;  
    color: white;  
    border: none;  
    padding: 10px;  
    width: 100%;  
}  

/* RESPONSIVE */  
@media (max-width: 600px) {  
    header {  
        flex-direction: column;  
    }  
}